@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

.button{
    font-family: "IBM Plex Sans Arabic", sans-serif;
    text-align: center;
    border: 1px solid;
    padding: 6px;
    background-color: transparent;
    font-size: 1rem;
}
.deleteButton {
   
    border-color: red;
    color: red;
}
.deleteButton:hover
{
    background-color: red;
    color: aliceblue;
    cursor: pointer;
}
.editButton {
    border-color: blue;
    color: blue;
}
.editButton:hover
{
    background-color: blue;
    color: aliceblue;
}