.newsline
{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.newsline  .line-item
{
    height: 200px;
    flex-grow: 1;
}
@media(max-width: 900px) {

    .newsline  .line-item
{
    width: 300px;
}
}
