.myArticlesContainer
{
	margin-top: 16px;
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.myArticlesContainer>* {
	max-width: 400px;
	flex: 1 1 320px;
  }