.navbar-header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo
{
  color: #1A1A1A;
  text-decoration: none;
}
.red 
{
  color: red;
}
.Nav-header-buttons
{
  display: flex;
  flex-direction: row;
  gap: 12px
}

@media (max-width: 900px) {
  .Nav-header-buttons
  {
    display: none;
  }
  .navbar-header
  {
    width: auto;
  }

}